.display_menu_wrapper {
  padding: 0 20px;
}
.display_menu {
  display: table;
  width: 100%;
  padding: 0;

  .display_menu__item {
    border: 1px solid #ccc;
    height: 100%;
    line-height: 33px;
    text-align: center;
    list-style-type: none;
    display: table-cell;

    &-active {
      background-color: #ffebae;
      border-color: #ccbe81;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
      border-right-style: none;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
      border-left-style: none;
    }
  }
}