.forecast {
  @import "wind.icon";

  &.forecast-short {
    .day_forecast__row {
      max-height: 80px;
    }
    .weather_item-details {
      visibility: hidden;
    }
    .forecast__forecast_today {
      max-height: 230px;
    }
    .forecast_today__last_update {
      display: none;
    }
    .forecast_today__weather_list-short {
      display: block;
    }
  }

  &.forecast-details .day_forecast_wrapper {
    .day_forecast__row {
      max-height: 215px;
    }
    .day_forecast__row_label {
      color: #000;
    }
    .weather_item-details {
      display: block;
    }
    .forecast__forecast_today {
      max-height: 270px;
    }
    .forecast_today__last_update {
      display: block;
    }
    .forecast_today__weather_list {
      display: none;
    }
    .forecast_today__weather_list-short {
      display: none;
    }
    .forecast_today__weather_list-details {
      display: block;
    }
  }


  .day_forecast_wrapper {
    margin-top: 20px;

    .day_forecast__header {
      margin: 40px 0 10px 20px;
    }

    .day_forecast__row {
      padding: 25px 20px;
      box-sizing: border-box;
      transition: max-height $transitionSpeed;
      overflow: hidden;

      &_label {
        color: $gray;
        width: 120px;
        height: 100%;
        box-sizing: border-box;
        transition: color $transitionSpeed;
      }

      &_item {
        float: left;
        text-align: left;

        .row_item__weather_icon {
          margin-top: -10px;
        }

        .row_item__temp {
          margin-left: 30px;
        }

        .row_item__details {
          position: relative;
          top: 5px;
          list-style-type: none;
          padding: 0;

          .details__item {
            margin-top: 5px;
            color: $gray;
          }

          .details__item_head {
            color: #000;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }

  .forecast__forecast_today {
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height $transitionSpeed;

    .forecast_today_row:after {
      content: "";
      display: table;
      clear: both;
    }

    .forecast_today__temp {
      display: block;
      font-size: 80px;
    }

    .forecast_today__last_update {
      margin: 10px 0 0 40px;
      color: $gray;
    }

    .forecast_today__weather_list {
      list-style-type: none;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 20px;
      color: $gray;
      max-width: 60%;
      
      .weather_list__weather_item {
        margin-bottom: 3px;
      }

      .weather_list__weather_item_desc {
        color: #000;
        margin-bottom: 5px;
        margin-top: 20px;
      }
    }

    .row_item__weather_icon {
      width: 100px;
    }
  }


}