.search_form {
  height: 90px;
  padding: 10px 20px;
  font-size: 22px;

  .search_form__search_input {
    height: 100%;
    border: 2px solid #d2d2d2;
    box-sizing: border-box;
    width: 75%;
    padding: 0 20px;
  }

  .search_form__search_btn {
    height: 100%;
    background: white;
    border: 2px solid #d2d2d2;
    float: right;
    width: 25%;
    border-left-style: none;
    border-radius: 0 5px 5px 0;
  }
}