<div class="day_forecast-wrapper">
    <span class="day_forecast__header">{{date}}</span>
    <div class="day_forecast__row">
        <div class="day_forecast__row_label left">
            {{timeOfDay}}
        </div>
        <div class="day_forecast__row_item">
            {{temp}}
        </div>
    </div>
</div>