.forecast {
    font-size: 15px;

    min-height: 250px;

    @import 'forecast/forecast.rows';
    @import 'forecast/forecast.sections';
    @import 'forecast/forecast.today';
    @import 'forecast/forecast.visual';

    .error {
        display: none;

        margin-top: 50px;
        margin-left: 20px;

        color: #f00;
    }
}
