.display_menu_wrapper {
    padding: 0 20px;
}
.display_menu {
    display: table;

    width: 100%;
    padding: 0;

    .display_menu__item {
        line-height: 33px;

        display: table-cell;

        height: 100%;

        list-style-type: none;

        text-align: center;

        border: 1px solid #ccc;

        &-active {
            border-color: #ccbe81;
            background-color: #ffebae;
        }

        &:first-child {
            border-right-style: none;
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-left-style: none;
            border-radius: 0 3px 3px 0;
        }
    }
}
