<div>
    <header>
        <img class="header__logo" src="http://yastatic.net/www/2.131/yaru/i/logo.png" alt="Yandex">

        <div class="header__section">
            <div class="header__section__label">Погода</div>
        </div>
    </header>
    <form class="search_form">
        <input type="text" class="search_form__search_input"/>
        <button class="search_form__search_btn">Найти</button>
    </form>
    <ul class="display_menu">
        <li class="display_menu__item display_menu__item-active" data-name="short">Кратко</li>
        <li class="display_menu__item" data-name="details">Подробно</li>
        <li class="display_menu__item" data-name="visual">Наглядно</li>
    </ul>
    <div class="forecast forecast-short">

    </div>
    <footer>
        <ul class="footer__links_list">
            <li class="footer__links_list__item">&copy;2008-2014 ООО "<a href="http://yandex.ru">Яндекс</a>"</li>
            <li class="footer__links_list__item"><a href="#">Обратная связь</a></li>
            <li class="footer__links_list__item"><a href="#">Полная версия</a></li>
        </ul>
    </footer>
</div>