.forecast_visual {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .forecast_visual__visual_item {
    display: inline-block;
    width: 10%;
    float: left;
    height: 235px;
    text-align: center;
    position: relative;

    .visual_item__column {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 10px solid #ccc;
      transition: max-height $transitionSpeed;
      height: 100%;
      max-height: 100px;

      &-negative {
        border-color: #8CABCF;
      }

      &-positive {
        border-color: #d79200;
      }

      .visual_item__temp {
        display: block;
        margin-top: -30px;
      }

      .visual_item__day {
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;

        &-weekend {
          color: red;
        }
      }

      .visual_item__weather_icon {
        position: absolute;
        bottom: 30px;
        width: 50%;
        margin-left: 25%;
        left: 0;
      }
    }
  }
}